version: "3.8"

services:


  app:
    container_name: app
    build: .
    command: bash -c "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    ports:
      - 8000:8000
    restart: always



  redis:
    container_name: redis
    image: redis:alpine
    command:
      - redis-server
    restart: unless-stopped
    ports:
      - "6379:6379"


